/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



#banner {
  width: 60em;
  height: 140px;
  background-color: red;
  /*margin-left: auto;
  margin-right: auto;*/
  margin-bottom: 10px;
  /*overflow: hidden;*/
}

#logo { 
  height: 3em; 
  margin: 5px;
  float: left;
} 

#logopic {
  height: 70px;
  width: 140px;
}

#testbox {
  margin-right: auto;
  margin-left: auto;
  background-color:green;
  width: 100%;
}

#login {
  height: 105px;
  margin: 5px;
}

#navbar {
  width: 100%;
  height: 30px;
  background-color: rgb(150, 156, 136);
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#omni {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#menuboard {
  width: 25% /*230px*/;
  height: 60em;
  background-color: rgb(214, 215, 183);
  float:left;
}

#my_courses, #upcoming, #activi, #recent, #admini {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: white;
  height: auto;
}  

.sidetitle {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(179,180, 146);
  padding-left: 5px;
}


#main_content {
  //float:right;
  width: 75%/*690px*/ ;
  height: 60em;
  background-color: rgb(235, 236, 205);
  overflow:auto;
}

#class_sum {
  width: 60em;
  height: 5em;
  background-color: rgb(179, 180, 146);
  margin: 10px;
  margin-top: 20px;
}

#week_outline {
  float: left;
  width: 98%;
  margin: 10px;
}

.week, .assi {
  width: 100%;
  border: .1em solid rgb(179, 180, 146);
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(235, 236, 205);
  height: 5em;
  margin-bottom: 10px;
}

.assi {
  width: 30%;
  float: right;
}

/*
#assignments {
  width: 35%;
  float: right;
  margin: 10px;
  margin-left: 0px;
}
*/
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family: arial;
    font-size: 1em;
    line-height: 1.4;
    background-color: white;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
   }
@media screen and (max-width: 1024px) {
  
  
}

/*tiny desktop-testing purposes*/
@media only screen
and (min-width : 480px)
and (max-width : 1000px) {
  

  #banner{
    width: 100%;
  }
  #class_sum{
    width:auto;
    background-color: blue;
  }
  }
  /*#main_content {
    width: 60%;
    float: none;
  } */
  #menuboard {
    width: 20%;
  
  }
  
  #main_content {
    float:right;
    width: 60%;
    height: auto;
    background-color: rgb(235, 236, 205);
  }

  #week_outline {
  float: left;
  width: 98%;
  margin: 10px;
  }  

    
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

  #wrap1{
    width:95%;
  }
  
  #omni {
    width:90%;
  }
  
  #banner{
    width: 80%;
  }
  
  #main_content {
    width: 75%;
  } 
  #menuboard {
    width: 10%;
  }
  
  #class_sum {
    width: 90%;
    margin: 0px;
  }
  
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
